<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Clients</title>
</head>
<body>
  <h1>Clients</h1>
  
  <table id="clients">
    <tr>
      <td>ID</td>
      <td>Nome</td>
      <td>Idade</td>
      <td>Email</td>
      <td>Editar</td>
      <td>Excluir</td>
    </tr>
    <tr for (client in data.clients)>
      <td>${client.id}</td>
      <td>${client.name}</td>
      <td>${client.age}</td>
      <td>${client.email}</td>
      <td><a href="#"><button>Editar</button></a></td>
      <td><a href="#" data-ref="${client.id}" data-type="delete"><button>Excluir</button></a></td>
    </tr>
  </table>

  <script src="./delete-client.js"></script>
</body>
</html>